body {
  font-family: Helvetica, sans-serif;
  background-color: #CD99CD;
}

h2 {
  margin-bottom: 30px;
}

.navbar-default .container-fluid {
  background-color: #7F4659;
}

.navbar-default .navbar-brand {
  color: black;
  font-size: 175%;
  font-weight: bold;
}

.menuinfo {
  background-color: #C09998;  
  margin-top: 15px;
  padding: 2px 15px;
  height: 750px;
}

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #4DAFCE;
    font-size: 130%;
    font-weight: bold;
  }
}